body {
  background-color: black;
}

.update {
  transform: scale(1.1);
  color: #ffc600;
}

.lose-ball {
  transform: scale(1.1);
  color: #af1d1d;
}


canvas {
  box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
}

#score {
  transition: all .10s ease;
}
#high-score {
  transition: all .10s ease;
}
#ball-count {
  transition: all .10s ease;
}

a {
  color: #af1d1d;
}
.info-area {
  color:white;
  background-color: black;
}

.info-area .info {
  font-size: 3.5vh;
}

.play-area {
  margin:0 auto;
  width:550px;
  display:block;
  background-color:black;
  font-family: 'VT323', monospace;
}